h1{
    color: maroon;
}

header{
    background-color: aqua;
}

#Education{
    background-color: yellowgreen;
}

#Contact{
    background-color: aqua;
}

#Skills{
    background-color: yellowgreen;
}

h2{
    color: maroon;
}